{% load static %}

<section id="mainContent">

    <div class="content_top">
      <div class="row">
        
        {% include "homeFolder/topContentFolder/topcontentbox.html" %}

        {% include "homeFolder/topContentFolder/contentbox.html" %}

      </div>
    </div>


    <div class="content_middle">

      {% include "homeFolder/middleContentFolder/leftside.html" %}

      {% include "homeFolder/middleContentFolder/middleside.html" %}

      {% include "homeFolder/middleContentFolder/rightside.html" %}
      
    </div>


    <div class="content_bottom">

      {% include "homeFolder/bottomContentFolder/leftside.html" %}
      
      {% include "homeFolder/bottomContentFolder/rightside.html" %}
      
    </div>

  </section>