{% load static %}

<div class="footer_top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInLeft">
            <h2>Görseller</h2>
            <ul class="flicker_nav">

              <li><a href="#"><img src="{% static 'images/75x75.jpg' %}" alt=""></a></li>

            </ul>
          </div>
        </div>



        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInDown">
            <h2>Etiketler</h2>
            <ul class="labels_nav">

              <li><a href="#">btc</a></li>
              <li><a href="#">eth</a></li>
              <li><a href="#">blocakchain</a></li>

            </ul>
          </div>
        </div>


        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInRight">
            <h2>Hakkimizda</h2>
            <p>Hakkimizda yazısı ...</p>
          </div>
        </div>

      </div>
    </div>
  </div>