{% load static %}

<div class="col-lg-6 col-md-6 col-sm6">
    <div class="content_top_right">
      <ul class="featured_nav wow fadeInDown">
        <li><img src="images/300x215x1.jpg" alt="">
          <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
        </li>
        <li><img src="images/300x215x2.jpg" alt="">
          <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
        </li>
        <li><img src="images/300x215x3.jpg" alt="">
          <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
        </li>
        <li><img src="images/300x215x4.jpg" alt="">
          <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
        </li>
      </ul>
    </div>
  </div>