{% load static %}

<div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_left">
            <p>Copyright &copy; 2022 <a href="index.html">Tüm Hakları Saklıdır.</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_right">
            <p>Kripto Sanatı</p>
          </div>
        </div>
      </div>
    </div>
  </div>