{% load static %}

<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="content_middle_middle">
      <div class="slick_slider2">
        <div class="single_featured_slide"> <a href="pages/single.html"><img src="images/567x330x1.jpg" alt=""></a>
          <h2><a href="pages/single.html">Praesent vitae quam vitae arcu posuer 1</a></h2>
          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulput...</p>
        </div>
        <div class="single_featured_slide"> <a href="pages/single.html"><img src="images/567x330x2.jpg" alt=""></a>
          <h2><a href="#">Praesent vitae quam vitae arcu posuer 2</a></h2>
          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulput...</p>
        </div>
        <div class="single_featured_slide"> <a href="pages/single.html"><img src="images/567x330x3.jpg" alt=""></a>
          <h2><a href="#">Praesent vitae quam vitae arcu posuer 3</a></h2>
          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulput...</p>
        </div>
      </div>
    </div>
  </div>