{% load static %}

<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="content_middle_rightbar">
      <div class="single_category wow fadeInDown">


        <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a href="#" class="title_text">{{ categories1.name }}</a> </h2>

        <ul class="catg1_nav">
          {% for post in grouped_posts %}
          <li>
            <div class="catgimg_container"> <a href="#" class="catg1_img"><img alt="" src="{{ post.image_post.url }}"></a></div>
            <h3 class="post_titile"><a href="#">{{ post.title }}</a></h3>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>