{% load static %}

<header id="header">
  
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="">Anasayfa</a></li>
              <li><a href="#">Hakkımızda</a></li>
              <li><a href="#">Iletisim</a></li>
              <li><a href="{% url 'url_dashboard' %}">Dashboard</a></li>
            </ul>
          </div>
          <div class="header_top_right">
            <form action="#" class="search_form">
              <input type="text" placeholder="Arama...">
              <input type="submit" value="">
            </form>
          </div>
        </div>
        <div class="header_bottom">
          <div class="header_bottom_left"><a class="logo" href="index.html">Kripto<strong>Sanatı</strong> <span>Kripto Dünyasını Keşfet! </span></a></div>
          <div class="header_bottom_right"><a href="#"><img src="{% static 'images/adbanner.jpg' %}" alt="BANNER"></a></div>
        </div>
      </div>

    </div>

  </header>